* {
  padding: 0;
  margin: 0;
}
header {
  position: sticky;
  top: 0px;
  
}

.nav1 {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  /* background-color: #1f75fe; */
  color: white;
  background-color: #05445e;
  
}
.navOne {
  font-family: monospace;;
  font-size: 20px;
}
.navText {
  text-decoration: none;
  color: white;
  font-weight: 600;
}
#Search {
  width: 30%;
  border: none;
}
#Search > input {
  width: 90%;
  height: 35px;
  border-radius: 10px;
  border: none;
  text-align: center;
  font-size: 20px;
}

#titleBox{
  margin-top: 1%;
  margin-left: 1%;
  font-family: sans-serif;
}
#projectList{
  
}
.container2{
  height:40px;
  border:2px solid black;
  width:50%;
  display:flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 1%;
  margin-left: 1%;
  background-color:azure;
}
.container2>button{
  background-color: aquamarine;
  width:10%;
  height:70%;
  border-radius: 15%;
  font-size: 20px;
  font-weight: 600;
}
.container2>h2{
  font-family: sans-serif;
}