*{
    padding:0;
    margin:0;
}
header{
    position:sticky;
    top:0px;
}
.nav1{
    width:100%;
    height:80px;
    display:flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    background-color: #05445e;
    color:white;
}
.navOne{
    font-family: sans-serif,Arial, Helvetica;
    font-size: 20px;
}
.anchor{
    text-align: center;
}
#signUp{
    text-align: center;
    cursor:pointer;
    color:white;
    text-decoration: none;
}
#login{
    text-align: center;
    cursor:pointer;
    color:white;
    text-decoration: none;
}
.navText{
    text-decoration: none;
    color:white;
    font-weight: 600;
}
body{
    /* background-image: url("https://t3.ftcdn.net/jpg/00/21/70/82/240_F_21708280_RFKz4O7ImQluB9FgX2mUYFUNDmlLokX6.jpg"); */
    background-image:linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
    background-size: cover;
}
form{
    /* border:2px solid  #1F75FE; */
    height:400px;
    width:30%;
    margin:auto;
    font-family: sans-serif,Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 20px;
    box-shadow: rgba(255,255,255,0.9)0px 0px 50px 0px;
    border-radius: 10px;
    background-image: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
}
form input{
    width:70%;
    height:35px;
    border:none;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    
}
form>button{
    width:30%;
    height:35px;
    font-size: 20px;
    border-radius: 10px;
    border:none;
    cursor:pointer;
    background-color: rgb(194, 244, 94);
    /* color:white; */
    font-weight: 600;

}
form>h1{
    padding-top: 30px;
    margin-top:50px;
}